@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}

/* 

colores
background-color: rgb(47, 46,42);

*/

/* nav */

#contenedorNavLogo{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

#navLogo{
    height: 80px;
}

#listaVinculos{
    list-style: none;
    min-width: 30%;
    margin-right: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.elementoLista{
    flex: 1 1 auto;
    text-align: center;
    padding: 5px 10px;
}

.bordeIzquierdo{
    border-left: 1px solid white;
}

.vinculoNav{
    font-weight: 400;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

nav{
    background-image: linear-gradient(#473BF0, #5ABCB9);
    background-color: #473BF0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav-item .nav-link{
    color: white;
}

.vinculoNav:hover{
    text-decoration: underline;
}

.navbar-toggler{
    padding: 0;
    width: 60px;
    border: 0;
}

#botonHamb{
    width: 100%;
    padding: 0;
    fill: white;
}

/* ends nav */

/* header */

#divBanner{
    background-image: url(../img/banner-watermark-transformed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#divContenidoBanner{
    width: 35%;
    margin-left: 40px;
}

h1.contenidoBanner{
    font-weight: 500;
    font-size: 3.5rem;
    color: white;
}

p.contenidoBanner{
    font-weight: 400;
    width: 90%;
    font-size: 1.9rem;
    margin: 25px 0;
    color: white;
}

a.contenidoBanner{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 2.7rem;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px 10px;
    text-align: center;
    margin-top: 10px;
}

a.contenidoBanner:hover{
    color: #5ABCB9;
    border-color: #5ABCB9;
    transform: scale(1.1);
}

/* ends header */

/* index main */

#principal{
    background-color: #2F2E2A;
}

#features{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 135px 0;
    margin: 0 80px;
    border-bottom: 2px solid #473BF0;
}

.divFeature{
    min-width: 300px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#5ABCB9, #473BF0);
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

.divIconoFeature{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.iconoFeature{
    width: 100px;
    fill: white;
}

.tituloFeature{
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.descripcionFeature{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10px;
    color: white;
}



#accesorios{
    width: 100%;
    padding: 135px 0;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row; 
    justify-content: center;
}

#contAccesorios{
    width: 80%;
    padding: 40px 0;
    border-radius: 20px;
    background-image: linear-gradient(#473BF0, #5ABCB9);
    display: grid;
    grid-template-columns: 1.1fr 1fr; 
}

#descripcionAccesorios{
    width: 100%;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #descripcionAccesorios h2{
        font-size: 2.5rem;
        margin-bottom: 30px;
        width: 100%;
        margin-top: 10px;
    }

    #descripcionAccesorios p{
        font-size: 1.6rem;
    }

#descripcionAccesorios1{
    margin-bottom: 10px;
}

#divImagenAccesorios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imagenAccesorios{
    width: 40%;
    background-blend-mode: darken;
}

@media (max-width: 992px){
    #divBanner{
        height: 90vh;
        background-image: url(../img/banner-mobile.avif);
        background-position: center;
    }
    nav{
        display: grid;
        grid-template-columns: 70vw;
        grid-template-rows: auto auto;
        justify-items: center;
        justify-content: center;
    }
    #listaVinculos{
        margin: 10px;
    }
}

@media (max-width: 1465px){
    #contAccesorios{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(max-content, 20vh) max-content;
    }
    #divImagenAccesorios{
        width: 100%;
        padding: 10px 0;
        margin: 10px 0;
        justify-content: center;
    }
    #imagenAccesorios{
        width: 250px;
    }
}

@media (max-width: 800px){
    #divBanner{
        background-image: none;
        background-color: black;
        align-items: center;
    }

    #divContenidoBanner{
        width: 80%;
    }

    .divFeature{
        width: 60%;
    }
}

@media (max-width: 550px){
    #navLogo{
        height: 50px;
    }
}

/* termina index main */

/* productos */

#sectionProductos{
    margin: 70px 400px;
    display: grid;
    grid-template-rows: repeat(3, auto auto);
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    column-gap: 10%;
    row-gap: 40px;
    grid-template-areas: 
    'g1 g2 g3'
    'c1 c2 c3'
    'a1 a2 a3'
    'c4 c5 c6'
    'a4 a5 a6'
    'c7 c8 c9';
    justify-items: center;
    justify-content: center;
}

.imagenGuitarra{
    height: 300px;
}

.contenedorImagenAccesorio{
    display: flex;
    align-items: center;
}

.contenedorAddCart{
    border: 2px solid black;
    display: flex;
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.tituloGuitarra{
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.botonCart{
    display: flex;
    align-items: center;
    height: min-content;
    width: 40px;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 5px;
}

@media (max-width: 1000px){
    #sectionProductos{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(3, auto auto);
        grid-template-areas: 
        'g1 g2'
        'c1 c2'
        'g3 a1'
        'c3 c4'
        'a2 a3'
        'c5 c6'
        'a4 a5'
        'c7 c8'
        'a6 .'
        'c9 .';
        column-gap: 50px;
    }
}

@media (max-width: 730px){
    #sectionProductos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, auto auto);
        grid-template-areas: 
        'g1'
        'c1'
        'g2'
        'c2'
        'g3'
        'c3'
        'a1'
        'c4'
        'a2'
        'c5'
        'a3'
        'c6'
        'a4'
        'c7'
        'a5'
        'c8'
        'a6'
        'c9';
        margin: 20px 80px;
    }
}

/* ends productos */

/* login */

#loginMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginSection{
    width: 50%;
    padding: 50px 0;
    margin: 100px 0;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userLogo{
    width: 140px;
    margin-bottom: 0;
}

#loginTitulo{
    font-size: 3.7rem;
    margin-bottom: 50px;
}

#loginForm{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.inputLogin{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0;
    padding: 1px 10px;
    border-bottom: 1px solid black;
}

.loginBox{
    height: 30px;
    border: 0;
}

.loginBox::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.loginBox:focus{
    outline: none;
}

.labelIcon{
    height: 25px;
    margin-right: 10px;
}

#botonAcceder{
    background: 0;
    border: 0;
    width: 50px;
    margin: 30px;
}

#iconoAcceder{
    width: 100%;
    height: 100%;
}

/* ends login */

/* contactanos */

#contactanosMain{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#mapSection, #formSection{
    width: 40%;
}

#formSection{
    display: flex;
    flex-flow: column nowrap;
}

.tituloContact{
    font-size: 3rem;
}

#contactForm{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.divInputTexto{
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;
}

        #contactForm div label{
            font-size: 2rem;
            width: 80%;
        }

        #contactForm div input::placeholder{
            font-family: 'Montserrat', sans-serif;
        }

.inputTexto{
    width: 80%;
    height: 30px;
}

#divBotonesContacto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.botonContacto{
    width: 25%;
    height: 40px;
}

#mapSection{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.contactanosSection{
    margin: 50px 0;
    padding: 20px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.flexEnd{
    display: flex;
    align-items: flex-end;
}

.width50{
    width: 50%;
}

.width100{
    width: 100%;
}

/* ends contactanos */

/* footer */

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #5ABCB9;
}

.iconoRedes{
    display: inline-block;
    width: 60px;
}













#guitarra1{
    grid-area: g1;
}

#guitarra2{
    grid-area: g2;
}

#guitarra3{
    grid-area: g3;
}

#addCart1{
    grid-area: c1;
}

#addCart2{
    grid-area: c2;
}

#addCart3{
    grid-area: c3;
}

#acc1{
    grid-area: a1;
}

#acc2{
    grid-area: a2;
}

#acc3{
    grid-area: a3;
}

#acc4{
    grid-area: a4;
}

#acc5{
    grid-area: a5;
}

#acc6{
    grid-area: a6;
}

#addCart4{
    grid-area: c4;
}

#addCart5{
    grid-area: c5;
}

#addCart6{
    grid-area: c6;
}

#addCart7{
    grid-area: c7;
}

#addCart8{
    grid-area: c8;
}

#addCart9{
    grid-area: c9;
}