#guitarra1{
    grid-area: g1;
}

#guitarra2{
    grid-area: g2;
}

#guitarra3{
    grid-area: g3;
}

#addCart1{
    grid-area: c1;
}

#addCart2{
    grid-area: c2;
}

#addCart3{
    grid-area: c3;
}

#acc1{
    grid-area: a1;
}

#acc2{
    grid-area: a2;
}

#acc3{
    grid-area: a3;
}

#acc4{
    grid-area: a4;
}

#acc5{
    grid-area: a5;
}

#acc6{
    grid-area: a6;
}

#addCart4{
    grid-area: c4;
}

#addCart5{
    grid-area: c5;
}

#addCart6{
    grid-area: c6;
}

#addCart7{
    grid-area: c7;
}

#addCart8{
    grid-area: c8;
}

#addCart9{
    grid-area: c9;
}